@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.title_state {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #15061f;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

.game_title {
    color: #df26ff;
    font-size: 64px;
    text-shadow: 0 0 15px #df26ff;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    color: #ffffff;
    font-size: 24px;
    margin: 0 50px 50px 50px;
    text-align: center;
}

#start_button {
    background-color: #15061f;
    border: 2px solid #df26ff;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    padding: 15px 40px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#start_button:hover {
    background-color: #df26ff;
    color: #15061f;
    box-shadow: 0 0 20px rgba(223, 38, 255, 0.6);
}


main {
    display: flex;
    width: 100%;
    height: 100vh;
}

.game_space {
    flex: 0 0 calc(75% - 15px);
    position: relative;
    overflow: hidden;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.asteroid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
}

img.asteroid:hover {
    width: 32vw;
    height: 32vw;
    max-width: 320px;
    max-height: 320px;
    cursor: pointer;
}

.floating_text {
    position: fixed;
    color: #df26ff;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 5px #15061f;
    pointer-events: none;
    z-index: 100;
    animation: floatUpFadeOut 1.5s ease-out forwards;
}

/* text moves upward and fades out */
@keyframes floatUpFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-60px) scale(1.2);
    }
}

.resource_counter {
    /* baseplate background */
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 100% 100%;
    background-position: center;
    background-color: #15061f;
    border-radius: 10px;
    padding: 16px 40px;
    border: 2px solid #df26ff;
    display: flex;
    min-width: 150px;
    text-overflow: ellipsis;

    /* text */
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.dyson_bar {
    /* baseplate background */
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 100% 100%;
    background-position: center;
    background-color: #15061f;
    border-radius: 10px;
    padding: 16px 40px;
    border: 2px solid #df26ff;
    width: 200px;
    height: 60px;
    display: flex;
    min-width: 150px;
    text-overflow: ellipsis;

    /* text */
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#dyson_fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(223, 38, 255, 0.4);
    z-index: 1;
    transition: width 0.25s ease;
    
}

.dyson_bar span {
    position: relative;
    z-index: 2;
}

.reset_button {
    position: absolute;
    left: 16px;
    bottom: 16px;
    padding: 8px 12px;
    border: 1px solid #df26ff;
    border-radius: 6px;
    background-color: #15061f;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

.reset_button:hover {
    background-color: #df26ff;
    color: #15061f;
}

.version {
    position: absolute;
    left: 96px;
    bottom: 22px;
    margin: 0;
    color: #6900aa;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
}

.game_space #info_button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 8px 12px;
    border: 1px solid #df26ff;
    border-radius: 6px;
    background-color: #15061f;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    z-index: 50;
}

#info_button:hover {
    background-color: #df26ff;
    color: #15061f;
}

.boost_info {
    font-size: 10px;
    color: #333333;
}

.hidden {
    display: none;
}

#credits_button {
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 8px 12px;
    border: 1px solid #df26ff;
    border-radius: 6px;
    background-color: #15061f;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    z-index: 50;
}

#credits_button:hover {
    background-color: #df26ff;
    color: #15061f;
}

/*
#dev_tool_button {
    position: absolute;
    left: 150px;
    bottom: 16px;
    padding: 8px 12px;
    border: 1px solid #df26ff;
    border-radius: 6px;
    background-color: #15061f;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    z-index: 50;
}

#dev_tool_button:hover {
    background-color: #df26ff;
    color: #15061f;
}
*/

.bar {
    width: 30px;
    background-color: rgb(103, 101, 102);
    box-shadow: 0 0 10px rgba(126, 87, 194, 0.5);
}

.store {
    flex: 0 0 calc(25% - 15px);
    background: linear-gradient(to bottom, #343434, #939293);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}
.store_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: center;
}


.store h1 {
    background-color: #15061f;
    border-radius: 10px;
    padding: 16px 30px;
    width: 200px;
    height: 60px;
    display: flex;
    min-width: 150px;
    text-overflow: ellipsis;
    justify-content: center;

    margin: 0;
    color: lightslategrey;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #464646;
}

.store h2,
.store p,
.store button {
    margin: 0;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.store h3 {
    margin: 0;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.store button {
    background-color: #15061f;
    border: 1px solid #df26ff;
    padding: 8px 12px;
    cursor: pointer;
}

.store button:hover{
    background-color: #df26ff;
}

.store_bar {
    width: 100%;
    height: 6px;
    background-color: rgb(103, 101, 102);
    opacity: 1;
}

@media (max-width: 1024px) {
    main {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }

    .game_space {
        flex: none;
        width: 100%;
        height: 65vh;
    }

    .bar {
        width: 100%;
        height: 15px;
    }

    .store {
        flex: none;
        width: 100%;
        padding: 30px 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 15px;
    }

    .store h1 {
        width: 200px;
        margin-bottom: 20px;
    }

    .store::before {
        content: "";
        flex-basis: 100%;
        order: 2;
    }

    .store_item, .store_bar {
        order: 3;
    }

    .store_item {
        flex: 1 1 250px;
        max-width: 300px;
    }

    .store_bar {
        display: block;
        width: 6px;
        height: auto;
        min-height: 150px;
        background-color: rgb(103, 101, 102);
    }
}